.todolist {
  margin: 15px auto;
  padding: 0;
  list-style: none;
  
  li {
    width: calc(100% - 20px);
    padding: 10px;
    background: #F1F1F1;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: background 0.2s;

    &:hover {
      background: #CCC;
    }
  }
}
